@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: bold;
    font-weight: 400;
    src: local('Montserrat-SemiBold'), url('/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/fonts/Montserrat-SemiBold.woff') format('woff'), url('/fonts/Montserrat-SemiBold.ttf') format('ttf'), url('/fonts/Montserrat-SemiBold.eot') format('eot');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/*Wrapper*/

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    display: -ms-grid;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.wrapper--bg {
    background-image: url(../img/forest.jpg);
}


/*widget*/

.widget {
    width: 80%;
    max-width: 615px;
    max-height: 410px;
    box-shadow: 0 0 40px 25px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
}


/*cube*/

.cube {
		width: 100%;
		position:relative;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
}

.cube--font-style {
    font-family: 'Montserrat Semi Bold', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.cube--bg-blue {
    background-color: rgb(0, 192, 226);
}

.cube--bg-green {
    background-color: rgb(91, 217, 152);
}

.cube--bg-violet {
    background-color: rgb(117, 88, 248);
}

.cube--bg-yellow {
    background-color: rgb(233, 193, 77);
}

.cube--bg-crimson {
    background-color: rgb(229, 86, 121);
}

.cube--bg-orchid {
    background-color: rgb(203, 112, 214);
}


/*weather-icons*/

.cube__icon {
    background-size: cover;
    width: 90px;
    height: 80px;
    margin: 30% 0;
}

.cube__icon--bg-cloud {
    background-image: url(../icons/Cloud.png);
}

.cube__icon--bg-fog {
    background-image: url(../icons/Fog.png);
}

.cube__icon--bg-gusty {
    background-image: url(../icons/Gusty.png);
}

.cube__icon--bg-patchy-snow {
    background-image: url(../icons/PatchySnow.png);
}

.cube__icon--bg-rainy {
    background-image: url(../icons/Rainy.png);
}

.cube__icon--bg-sunny-spells {
    background-image: url(../icons/SunnySpells.png);
}

.cube__icon--m-size {
    background-size: cover;
    width: 63px;
    height: 66px;
    margin: 9.8% auto;
}

.cube__icon--s-size {
    background-size: cover;
    width: 24px;
    height: 22px;
    grid-row: 2 / span 2;
}


/*название города*/

.cube__town {
    padding-bottom: 20%;
}

/*прогноз на неделю*/

.forecast {
		position: relative;
    box-sizing: border-box;
		width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
		padding: 9%;
}
.forecast__item {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}


/*День недели*/

.forecast__item-value {
    font-size: 0.75em;
}

.forecast--bgcolor-crimson2 {
    background-color: rgb(203, 76, 108);
}

.forecast--gradient {
    background: -moz-radial-gradient(center, ellipse cover, rgba(155, 59, 75, 0) 1%, rgba(156, 60, 79, 0) 27%, rgba(160, 61, 89, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(155, 59, 75, 0) 1%, rgba(156, 60, 79, 0) 27%, rgba(160, 61, 89, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(155, 59, 75, 0) 1%, rgba(156, 60, 79, 0) 27%, rgba(160, 61, 89, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009b3b4b', endColorstr='#a6a03d59', GradientType=1);
}

@media only screen and (max-width: 480px) {
        /*widget*/
    .widget {
        width: 80%
        max-width: 410px;
        max-height: 615px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .cube__icon {
        width: 54px;
        height: 48px;
        margin: 15% 0;
    }
    .cube__icon--m-size {
        width: 37.8px;
        height: 39.6px;
    }
    .cube__icon--s-size {
        width: 15px;
        height: 13.2px;
    }
    .forecast {
        width: 100%;
        padding: 10%;
    }
    .forecast__item-value {
        font-size: 70%;
    }
    .cube--font-style {
        font-size: 85%;
    }
}
